/* styles.css */
@import "~@fortawesome/fontawesome-free/css/all.css";
@import '@angular/material/prebuilt-themes/indigo-pink.css';

body {
  font-family: 'Arial', sans-serif;
  background-color: #5c5b5b;
  color: #fff;
}

h2 {
    color: #fff;
  }
  
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
